.about {
  display: flex;
  flex-direction: column;

  @include container;

  @media (min-width: $bp-tablet) {
    margin-top: 56px;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 73px;
    padding-right: 73px;
    gap: 24px;
  }

  @media (min-width: $bp-desktop) {
    padding-left: 120px;
    padding-right: 120px;
  }

  &__title {
    margin-top: 48px;
    margin-bottom: 0;
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;

    @media (min-width: $bp-tablet) {
      margin-top: 0;
      width: calc((100% - 24px) / 2);
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__paragraph {
    margin-top: 24px;
    margin-bottom: 0;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $color-text-main;

    @media (min-width: $bp-tablet) {
      margin-top: 0;
      width: calc((100% - 24px) / 2);
    }
  }
}
