.categories {
  display: flex;
  flex-direction: column;

  @include container;

  @media (min-width: $bp-tablet) {
    padding-left: 73px;
    padding-right: 73px;
  }

  @media (min-width: $bp-desktop) {
    padding-left: 120px;
    padding-right: 120px;
  }

  &__title {
    margin-top: 96px;
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
  }

  &__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 24px;
    width: 100%;

    @media (min-width: $bp-tablet) {
      gap: 24px;
    }
  }

  &__subtitle {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;

    @media (min-width: $bp-tablet) {
      font-size: 24px;
      letter-spacing: 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 56px;
    background-color: $color-text-main;
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 16px;
    color: $color-white;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: $transition-default;
    cursor: pointer;

    &:hover {
      background-color: $color-bg-input;
      color: $color-text-main;
      border: 2px solid $color-border;
    }

    &:active {
      background-color: $color-black;
      color: $color-white;
      border-color: $color-black;
    }
  }
}

.double--image {
  @include square-image;

  &--wide {
    @media (min-width: $bp-tablet) {
      aspect-ratio: 2 / 1;
      width: calc((100% - 24px) * 2 / 3);
      background-size: 50%;
      background-position: center top;
      background-color: $color-bg-menu;
    }
  }

  &--small {
    @media (min-width: $bp-tablet) {
      aspect-ratio: 1 / 1;
      width: calc((100% - 24px) * 1 / 3);
    }
  }
}

.parots--image {
  background-image: url('../images/parots.png');
  background-color: $color-bg-parots;
}

.hand--earohone {
  background-image: url('../images/hand_earp.png');
}

.one-earphone {
  background-image: url('../images/one-earphone.png');
  background-color: $color-bg-menu;
}

.ear-stick-hand {
  background-image: url('../images/ear-stick-hand.png');
  width: calc((100% - 24px) * 2 / 3);
  background-color: $color-bg-ear-stick;
}

.phone-case {
  background-image: url('../images/phone-case.png');
}

.phone-charge {
  background-image: url('../images/phone-charge.png');
  background-color: $color-bg-menu;
}
