.contact {
  display: flex;
  flex-direction: column;

  @include container;

  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: $bp-tablet) {
    padding-left: 73px;
    padding-right: 73px;
  }

  @media (min-width: $bp-desktop) {
    padding-left: 120px;
    padding-right: 120px;
  }

  &__title {
    margin-top: 104px;
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: $color-text-main;
    margin-bottom: 48px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input,
  &__message {
    width: 100%;
    background-color: $color-bg-input;
    border: none;
    border-radius: 8px;
    padding: 0 16px;
    font-family: $font-primary;
    font-size: 16px;
    color: $color-text-main;
    box-sizing: border-box;
    outline: none;
  }

  &__input {
    height: 48px;

    @include form-element-states;
  }

  &__message {
    height: 120px;
    padding-top: 12px;
    resize: none;
    margin-bottom: 16px;

    @include form-element-states;
  }

  &__button {
    width: 100%;
    height: 48px;
    background-color: $color-bg-input;
    border: 2px solid $color-border;
    border-radius: 8px;
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 16px;
    color: $color-text-main;
    cursor: pointer;
    transition: $transition-default;
    margin-top: 16px;

    &:hover {
      background-color: $color-border;
    }

    &:active {
      background-color: $color-border-hover;
    }
  }
}
