.recommended {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  box-sizing: border-box;

  &__description {
    margin-top: 6px;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__text-mobile {
    display: inline;

    @media (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__title {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 0 20px;
    text-align: left;
    align-self: flex-start;

    @media (min-width: $bp-tablet) {
      font-size: 40px;
      line-height: 40px;
    }

    @media (min-width: $bp-desktop) {
      font-size: 48px;
      line-height: 48px;
      margin-left: 120px;
    }
  }

  &__cards {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 48px;

    @media (min-width: $bp-desktop) {
      flex-direction: row;
      gap: 24px;
      padding: 0 120px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 64px;

    @media (min-width: $bp-desktop) {
      width: calc((100% - 48px) / 3);
      padding: 0;
      margin-bottom: 0;
    }
  }

  &__second_title {
    margin-top: 24px;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
  }

  &__price {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin-top: 12px;
  }

  %product-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: transform 0.3s ease;
    cursor: pointer; // Чтобы курсор менялся на пальчик
  
    &:hover {
      transform: scale(1.05); // Увеличиваем на 5%
    }
  }

  &__phone {
    @extend %product-image;

    background-image: url('../images/no-phone.png');
  }

  &__headphones_one {
    @extend %product-image;

    background-image: url('../images/head-phones1.png');
  }

  &__ear_stick {
    @extend %product-image;

    background-image: url('../images/ear-stick.png');
  }
}
