.slice {
  margin-top: 96px;
  background-image: url('../images/phone-back.png');
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;

  @media (min-width: $bp-tablet) {
    height: 400px;
  }
}
